{% extends 'base.html' %}

{% import 'macros.html' as macros %}

{% block parenturl %}{{ url_for('index') }}{% endblock %}

{% block title %}{{ macros.service_as_text(service) }}{% endblock %}

{% block body %}
    {% if service.image %}
        <img height="300" src="{{ url_for('service.image', service_id=service.service_id) }}" /><br/>
        <br/>
    {% endif %}
    <i>Status:
        {% if service.active %}
            Active
        {% else %}
            Inactive
        {% endif %}
    </i><br/>
    <i>Frequency: {{ macros.frequency_as_text(service.frequency) }}</i><br/>
    <br/>
    {% if service.active %}
        <a href="{{ url_for('service.set_active', service_id=service.service_id, active=0) }}">Inactivate service</a><br/>
    {% else %}
        <a href="{{ url_for('service.set_active', service_id=service.service_id, active=1) }}">Activate service</a><br/>
    {% endif %}
    <a href="{{ url_for('service.delete', service_id=service.service_id) }}">Delete service</a><br/>
    <h2>Payments</h2>
    <a href="{{ url_for('service.payment.new', service_id=service.service_id) }}">New payment</a><br/>
    <ul>
        {% for payment in payments %}
            <li>
                {{ macros.payment_as_linked_text(payment) }}
            </li>
        {% endfor %}
    </ul>
{% endblock %}
