{% extends 'base.html' %}

{% block header %}{% block title %}{{ service.name }}{% endblock %}{% endblock %}

{% block body %}
<a href="{{ url_for('service.payment.new', service_id=service.service_id) }}">New payment</a><br/>
<br/>
<table>
    <tr>
        <th>Date</th>
        <th>View</th>
        <th>Delete</th>
    </tr>
    {% for payment in payments %}
    <tr>
        <td>{{ month_name[payment.month] }}/{{ payment.year }}</td>
        <td><a href="{{ url_for('service.payment.view', service_id=payment.service_id, year=payment.year, month=payment.month) }}" style="text-decoration: none">🔍</a></td>
        <td><a href="{{ url_for('service.payment.delete', service_id=payment.service_id, year=payment.year, month=payment.month) }}" style="text-decoration: none">🗑️</a></td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
