{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Novo serviço{% endblock %}</h1>
<hr/>
{% endblock %}

{% block content %}
<form method="post">
    <label for="name">Nome:</label>
    <input name="name" value="{{ request.form['name'] }}" required><br/>
    <br/>
    <label for="frequency">Frequência de cobrança:</label>
    <select name="frequency" required>
        <option value="monthly" selected>Mensal</option>
        <option value="yearly">Anual</option>
    </select><br/>
    <br/>
    <input type="submit" value="Cadastrar">
</form>
{% endblock %}
