{% extends 'base.html' %}

{% block title %}{{ u.fmtdate(boleto['expiry_ts']) }} - {{ service['name'] }}{% endblock %}

{% block header %}
<h1>
    <a href="{{ url_for('index') }}">Serviços</a> >
    <a href="{{ url_for('services.index', service_id=service['id']) }}">{{ service['name'] }}</a> >
    {{ u.fmtdate(boleto['expiry_ts']) }}
</h1>
<hr/>
{% endblock %}

{% block content %}
<b>Valor:</b> {{ u.fmtamount(boleto['amount']) }}<br/>
<b>Arquivo:</b> <a href="{{ url_for('boletos.view', boleto_id=boleto['id']) }}">[{{ u.get_extension(boleto['filename']) }}]</a><br/>
<br/>
{% if boleto['paid'] %}
<a href="{{ url_for('boletos.unpay', boleto_id=boleto['id']) }}"><button>Desfazer pagamento</button></a>
{% else %}
<a href="{{ url_for('boletos.pay', boleto_id=boleto['id']) }}"><button>Pagar</button></a>
{% endif %}
<a href="{{ url_for('boletos.delete', boleto_id=boleto['id']) }}"><button>Remover</button></a>
{% endblock %}
