{% extends 'base.html' %}

{% block fulltitle %}Boletos{% endblock %}

{% block header %}
<h1>Serviços</h1>
<hr/>
{% endblock %}

{% block content %}
➕ <a href="{{ url_for('services.register') }}">Novo serviço</a><br/>
<br/>
<table>
    <tr>
        <th>Serviço</th>
        <th>Próximo vencimento</th>
    </tr>
    {% for service in services %}
    <tr>
        <td>
            <div align="center">
                <a href="{{ url_for('services.index', service_id=service['id']) }}">
                    {{ service['name'] }}
                </a>
            </div>
        </td>
        <td>
            <div align="center">
                {% if service['max_paid_expiry_ts'] %}
                {{ u.fmtdate(u.next_expiry_ts_estimation(service['max_paid_expiry_ts'], service['frequency'])) }}
                {% endif %}
            </div>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
