{% extends 'base.html' %}

{% import 'macros.html' as macros %}

{% block parenturl %}{{ url_for('service.index', service_id=payment.service_id) }}{% endblock %}

{% block header %}
    {% block title %}
        {{ macros.service_as_text(service) }}
        @
        {{ macros.payment_as_text(payment) }}
    {% endblock %}
{% endblock %}

{% block body %}
    <ul>
        <li><a href="{{ url_for('service.payment.view', service_id=payment.service_id, year=payment.year, month=payment.month) }}">View</a></li>
        <li><a href="{{ url_for('service.payment.delete', service_id=payment.service_id, year=payment.year, month=payment.month) }}">Delete</a></li>
    </ul>
{% endblock %}
