{% extends 'base.html' %}

{% block header %}{% block title %}{{ service['name'] }} / New payment{% endblock %}{% endblock %}

{% block body %}
<form method="post" enctype="multipart/form-data">
    Date:
    <select name="month">
        {% for value, month in months %}
        <option
            value="{{ value }}"
            {% if value == now.month %}
            selected
            {% endif %}
        >
            {{ month }}
        </option>
        {% endfor %}
    </select>
    /
    <input type="number" name="year" size="8" value="{{ now.year }}"><br/>
    <br/>
    <label for="file">File:</label>
    <input type="file" name="file" accept="application/pdf,image/*" required /><br/>
    <br/>
    <input type="submit" value="Submit">
</form>
{% endblock %}
