{% extends 'base.html' %}

{% import 'macros.html' as macros %}

{% block header %}
    {{ macros.service_as_linked_text(service) }}
    ::
    {% block title %}
        New payment
    {% endblock %}
{% endblock %}

{% block body %}
<form method="post" enctype="multipart/form-data">
    Date:
    <select name="month">
        {% for month_number, month_name in months %}
        <option
            value="{{ month_number }}"
            {% if month_number == now.month %}
            selected
            {% endif %}
        >
            {{ month_name }}
        </option>
        {% endfor %}
    </select>
    /
    <input type="number" name="year" size="8" value="{{ now.year }}"><br/>
    <br/>
    <label for="file">File:</label>
    <input type="file" name="file" accept="application/pdf,image/*" required /><br/>
    <br/>
    <input type="submit" value="Submit">
</form>
{% endblock %}
