{% extends 'base.html' %}

{% import 'macros.html' as macros %}

{% block parenturl %}{{ url_for('service.index', service_id=service.service_id) }}{% endblock %}

{% block title %}New payment{% endblock %}

{% block body %}
    <i>Service: {{ macros.service_as_text(service) | trim }}</i><br/>
    <br/>
    <form method="post" enctype="multipart/form-data">
        * Date:
        <input type="date" name="date" value="{{ request.form.date or payment_date }}"><br/>
        <br/>
        <label for="file">* File:</label>
        <input type="file" name="file" accept="application/pdf,image/*" required /><br/>
        <br/>
        <input type="submit" value="Submit">
    </form>
{% endblock %}
