<!doctype html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    </head>
    <body>
        {% block backlink %}
            <a href="{% block parenturl %}{% endblock %}">< Back</a><br />
        {% endblock %}
        <h1>{{ self.title() }}</h1>
        <ul class="warning">
            {% for message in get_flashed_messages() %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% block body %}{% endblock %}
    </body>
</html>
