{% extends 'base.html' %}

{% import 'macros.html' as macros %}

{% block backlink %}{% endblock %}

{% block title %}Services{% endblock %}

{% block body %}
    <a href="{{ url_for('service.new') }}">New service</a><br/>
    {% if unpaid_services %}
        <h2>To be paid 🕒</h2>
    {% endif %}
    <ul>
        {% for unpaid_service in unpaid_services %}
            <li>
                {{ macros.service_as_linked_text(unpaid_service.service) }}
                {% if unpaid_service.message %}
                    <span
                        {% if unpaid_service.is_message_urgent %}
                                class="warning"
                        {% endif %}
                    >
                        ({{ unpaid_service.message }})
                    </span>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
    {% if paid_services %}
        <h2>Paid ✅</h2>
    {% endif %}
    <ul>
        {% for service in paid_services %}
            <li>{{ macros.service_as_linked_text(service) }}</li>
        {% endfor %}
    </ul>
    {% if inactive_services %}
        <h2>Inactive 💤</h2>
    {% endif %}
    <ul>
        {% for service in inactive_services %}
            <li>{{ macros.service_as_linked_text(service) }}</li>
        {% endfor %}
    </ul>
{% endblock %}
