{% extends 'base.html' %}

{% block backlink %}{% endblock %}

{% block header %}{% block title %}Services{% endblock %}{% endblock %}

{% block body %}
<a href="{{ url_for('service.new') }}">New service</a>
<ul>
    {% for service in services %}
    <li>
        <a href="{{ url_for('service.index', service_id=service.service_id) }}">{{ service.name }}</a>
        {% if service.active and not service.paid %}
        <font color="firebrick"><b>(due)</b></font>
        {% endif %}
    </li>
    {% endfor %}
</ul>
{% endblock %}
