{%- macro service_as_text(service) %}
{{ service.name }}
{% endmacro %}

{%- macro service_as_url(service) %}
{{ url_for('service.index', service_id=service.service_id) }}
{% endmacro %}

{%- macro service_as_linked_text(service) %}
<a href="{{ service_as_url(service) }}">{{ service_as_text(service) | trim }}</a>
{% endmacro %}

{%- macro payment_as_text(payment) %}
{{ '%04d/%02d' | format(payment.year, payment.month) }}
{% endmacro %}

{%- macro payment_as_url(payment) %}
{{ url_for('service.payment.index', service_id=payment.service_id, year=payment.year, month=payment.month) }}
{% endmacro %}

{%- macro payment_as_linked_text(payment) %}
<a href="{{ payment_as_url(payment) }}">{{ payment_as_text(payment) | trim }}</a>
{% endmacro %}

{%- macro frequency_as_text(frequency) %}
{% if frequency == 'm' %}
Monthly
{% elif frequency == 'y' %}
Yearly
{% endif %}
{% endmacro %}
